

.main_services {
	margin-bottom: 70px;
}

.title-services {
	margin-bottom: 20px;
}

.main_services_box:nth-child(2n+1) {
  margin-right: 23px;
}

.main_services_list {
  display: flex;
  flex-wrap: wrap;
}

.main_services_box {
  flex-basis: 49%;
}

.main_services_box:nth-child(-n+2) {
	margin-bottom: 24px;
}


.main_services_item {
	height: 100%;
	padding: 35% 0 36px 45px;

	border-radius: 15px;
	background-color: white;
	background-repeat: no-repeat;
	background-size: contain;
}

.main_services_box:first-child .main_services_item {
	background-image: url(../img/services_01.jpg);
}

.main_services_box:nth-child(2) .main_services_item {
	background-image: url(../img/services_02.jpg);
}

.main_services_box:nth-child(3) .main_services_item {
	background-image: url(../img/services_03.jpg);
}

.main_services_box:last-child .main_services_item {
	background-image: url(../img/services_04.jpg);
}


.main_service_link {
	display: block;

	max-width: 90%;
	margin-bottom: 5px;

	transition-duration: .5s;
	transition-property: transform, font-weight, color, filter;

	color: #c93;

	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}

.main_service_link:hover {
	transform: scale(1.02) translateX(5px);

	color: black;

	font-weight: normal;
	
}

.main_service_link:after {
	content: "    ";
	white-space: pre;

	background: url(../img/more_yellow_icon.svg) no-repeat right;
}

.main_service_description {
	max-width: 77%;

	font-size: 16px;
	line-height: 2;
}
